<script setup lang="ts">
import CategoriesNav from "../components/CategoriesNav.vue";
import AboutUs from "../components/AboutUs.vue";
import { useProductServices } from "../services/product-services";
import { ref } from "@vue/reactivity";
import { onMounted, watch } from "vue";
import ProductOverview from "../components/ProductOverview.vue";
import { Product } from "../model/product";

const props = defineProps({
  id: { type: String, required: false, default: "speakers" },
});
const products = ref<Product[]>([]);
const productServices = useProductServices()
const fetchProducts = () => {
  products.value = productServices.fetchProductsByCategory(props.id);
};
onMounted(() => fetchProducts());
watch(() => props.id, fetchProducts);
</script>

<template>
  <section class="category">
    <h1 class="category__title">{{ id.toUpperCase() }}</h1>
    <div class="wrapper">
      <template v-for="product in products">
        <ProductOverview :product="product"></ProductOverview>
      </template>
      <CategoriesNav></CategoriesNav>
      <AboutUs></AboutUs>
    </div>
  </section>
</template>

<style scoped lang="scss">
.category {
  text-align: center;
  &__title {
    @include title2();
    @include title2--inv();
    margin: 0;
    padding: 1rem;
  }
}

.wrapper {
  padding: 60px 24px;
}
@media only screen and (min-width: $md-device) {
  .category {
    &__title {
      padding: 97px;
    }
  }
  .wrapper {
    padding: 120px 40px;
  }
}
@media only screen and (min-width: $lg-device) {  
  .wrapper {
    padding: 160px 165px;
  }
}
</style>
