<script setup lang="ts">
import { ref, reactive } from "vue";
import { useCartStore } from "../stores/CartStore";
import CheckoutAck from "../components/CheckoutAck.vue";
import { currency } from "../services/filters";
import {
  getItemsPrice,
  getVatPrice,
  getShippingPrice,
  getGrandPrice,
} from "../services/pricing";
import { useImageUtils } from '../services/image-utils'
import { useRouter } from 'vue-router'

const isModalOpen = ref(false);
const imageUtils = useImageUtils()
const router = useRouter()

class Field {
  value: string;
  valid: boolean;
  constructor() {
    this.value = "";
    this.valid = true;
  }
  validate(): boolean {
    this.valid = this.value !== "";
    return this.valid;
  }
}

class EmailField extends Field {
  validate(): boolean {
    this.valid =
      this.value !== "" &&
      /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(this.value);
    return this.valid;
  }
}

class User {
  name: Field;
  email: EmailField;
  phone: Field;
  address: Field;
  zipcode: Field;
  city: Field;
  country: Field;
  constructor() {
    this.name = new Field();
    this.email = new EmailField();
    this.phone = new Field();
    this.address = new Field();
    this.zipcode = new Field();
    this.city = new Field();
    this.country = new Field();
  }
  isValid() {
    return this.name.validate() && this.email.validate() && this.phone.validate() && this.address.validate() && this.zipcode.validate() && this.zipcode.validate() && this.city.validate() && this.country.validate()
  }
}

const user = reactive(new User());
class Emoney {
  number: Field
  pin: Field
  constructor() {
    this.number = new Field()
    this.pin = new Field()
  }
  isValid() {
    return this.number.validate() && this.pin.validate()
  }
}
class Payment {
  method: Field
  emoney: Emoney
  constructor() {
    this.method = new Field()
    this.method.value = "emoney"
    this.emoney = new Emoney()
  }
  isValid() {

    return this.method.validate() && this.emoney.isValid
  }
}
const payment = reactive(new Payment())

const getLabelClass = (f: Field): string =>
  f.valid ? " " : "form__lb--invalid";
const getInputClass = (f: Field): string =>
  f.valid ? " " : "form__input--invalid";
const validateField = (f: Field): boolean => f.validate()
const processCheckout = () => {
  if (user.isValid() && payment.isValid()) {
    isModalOpen.value = true;
  } else {
    console.log("Errrors")
  }
};

const cart = useCartStore();

const items = reactive(cart.getItems);
const itemsPrice = ref(getItemsPrice(items));
const shippingPrice = ref(getShippingPrice());
const vatPrice = ref(getVatPrice(itemsPrice.value));
const totalPrice = ref(getGrandPrice(itemsPrice.value));
</script>

<template>
  <CheckoutAck :isModalOpen="isModalOpen" @close="isModalOpen = false" />
  <article class="checkout">
    <nav class="nav">
      <router-link to="" @click="router.go(-1)" class="nav__back back">Go Back</router-link>
    </nav>    
      <form action="" class="form checkout__content">
        <section class="checkout__section">
          <h2 class="checkout__title">Checkout</h2>
          <div class="fieldset">
            <h3 class="fieldset__subtitle">Billing details</h3>
            <div class="form__group">
              <label
                for="txtName"
                class="form__lb"
                :class="getLabelClass(user.name)"
                >Name</label
              >              
              <input
                type="text"
                class="form__input"
                v-model="user.name.value"
                required
                :class="getInputClass(user.name)"
                @blur="validateField(user.name)"
              />
              <span class="form__error-msg">Invalid value</span>
            </div>
            <div class="form__group">
              <label
                for="txtName"
                class="form__lb"
                :class="getLabelClass(user.email)"
                >Email</label
              >
              <input
                type="email"
                class="form__input"
                v-model="user.email.value"
                required
                :class="getInputClass(user.email)"
                @blur="validateField(user.email)"
              />
              <span class="form__error-msg">Wrong format</span>
            </div>
            <div class="form__group">
              <label
                for="txtName"
                class="form__lb"
                :class="getLabelClass(user.phone)"
                >Phone Number</label
              >
              <input
                type="text"
                class="form__input"
                v-model="user.phone.value"
                required
                :class="getInputClass(user.phone)"
                @blur="validateField(user.phone)"
              />
              <span class="form__error-msg">Invalid value</span>
            </div>
          </div>
          <div class="fieldset">
            <h3 class="fieldset__subtitle">Shipping info</h3>
            <div class="form__group form__group--wide">
              <label
                for="txtName"
                class="form__lb"
                :class="getLabelClass(user.address)"
                >Your Address</label
              >
              <input
                type="text"
                class="form__input"
                id="txtName"
                v-model="user.address.value"
                required
                :class="getInputClass(user.address)"
                @blur="validateField(user.address)"
              />
              <span class="form__error-msg">Invalid value</span>
            </div>
            <div class="form__group">
              <label
                for="txtZipcode"
                class="form__lb"
                :class="getLabelClass(user.zipcode)"
                >ZIP code</label
              >
              <input
                type="text"
                class="form__input"
                id="txtZipcode"
                v-model="user.zipcode.value"
                required
                :class="getInputClass(user.zipcode)"
                @blur="validateField(user.zipcode)"
              />
            </div>
            <div class="form__group">
              <label
                for="txtName"
                class="form__lb"
                :class="getLabelClass(user.city)"
                >City</label
              >
              <input
                type="text"
                class="form__input"
                v-model="user.city.value"
                required
                :class="getInputClass(user.city)"
                @blur="validateField(user.city)"
              />
              <span class="form__error-msg">Invalid value</span>
            </div>
            <div class="form__group">
              <label
                for="txtCountry"
                class="form__lb"
                :class="getLabelClass(user.country)"
                >Country</label
              >
              <input
                type="text"
                class="form__input"
                id="txtCountry"
                v-model="user.country.value"
                required
                :class="getInputClass(user.country)"
                @blur="validateField(user.country)"
              />
              <span class="form__error-msg">Invalid value</span>
            </div>
          </div>
          <div class="fieldset">
            <h3 class="fieldset__subtitle">Payment details</h3>
            <div class="form__group form__group--wide form__group--grid">
              <label class="form__lb">Payment method</label>
              <div class="form__radio">
                <input
                  type="radio"
                  name="rdPaymentMethod"
                  id="rdPaymentMethod1"
                  value="emoney"
                  v-model="payment.method.value"
                  checked
                  class="form__radio-button"
                /><label for="rdPaymentMethod1" class="form__lb form__lb--radio"
                  >e-Money</label
                >
              </div>
              <div class="form__radio">
                <input
                  type="radio"
                  name="rdPaymentMethod"
                  id="rdPaymentMethod2"
                  value="cash"
                  v-model="payment.method.value"
                  class="form__radio-button"
                /><label for="rdPaymentMethod2" class="form__lb form__lb--radio"
                  >Cash on delivery</label
                >
              </div>
            </div>
            <div class="form__group" v-if="payment.method.value === 'emoney'">
              <label
                for="txtName"
                class="form__lb"
                :class="getLabelClass(payment.emoney.number)"
                >e-Money number</label
              >
              <input
                type="text"
                class="form__input"
                v-model="payment.emoney.number.value"
                required
                :class="getInputClass(payment.emoney.number)"
                @blur="validateField(payment.emoney.number)"
              />
              <span class="form__error-msg">Invalid value</span>
            </div>
            <div class="form__group" v-if="payment.method.value === 'emoney'">
              <label
                for="txtName"
                class="form__lb"
                :class="getLabelClass(payment.emoney.pin)"
                >e-Money PIN</label
              >
              <input
                type="text"
                class="form__input"
                v-model="payment.emoney.pin.value"
                required
                :class="getInputClass(payment.emoney.pin)"
                @blur="validateField(payment.emoney.pin)"
              />
              <span class="form__error-msg">Invalid value</span>
            </div>
            <div class="form__note" v-if="payment.method.value === 'cash'">
              <img
                src="/assets/checkout/icon-cash-on-delivery.svg"
                alt="Cash on delivery"
                class="form__icon"
              />
              <p>
                The ‘Cash on Delivery’ option enables you to pay in cash when
                our delivery courier arrives at your residence. Just make sure
                your address is correct so that your order will not be
                cancelled.
              </p>
              <span class="form__error-msg">Invalid value</span>
            </div>
          </div>
        </section>
        <section class="checkout__section">
          <h2 class="checkout__title">Summary</h2>
          <div class="checkout__summary">
            <template v-for="item in items" :key="item.name">
              <img
                :src="imageUtils.getImageAbsPath(item.image)"
                :alt="item.name"
                class="checkout__tumbnail"
              />
              <div class="checkout__item">
                {{ item.name }}
                <span class="checkout__price">{{ currency(item.price) }}</span>
              </div>
              <div class="checkout__units">x {{ item.qty }}</div>
            </template>
          </div>
          <div class="checkout__totals">
            <div class="checkout__totals__label">TOTAL</div>
            <div class="checkout__totals__value">
              {{ currency(itemsPrice) }}
            </div>
            <div class="checkout__totals__label">SHIPPING</div>
            <div class="checkout__totals__value">
              {{ currency(shippingPrice) }}
            </div>
            <div class="checkout__totals__label">VAT</div>
            <div class="checkout__totals__value">{{ currency(vatPrice) }}</div>
            <div class="checkout__totals__label checkout__totals__label-grand">
              GRAND TOTAL
            </div>
            <div class="checkout__totals__value checkout__totals__value-grand">
              {{ currency(totalPrice) }}
            </div>
          </div>

          <button
            type="submit"
            @click.prevent="processCheckout"
            class="checkout__cta"
          >
            Continue & Pay
          </button>
        </section>
      </form>
  </article>
</template>

<style scoped lang="scss">
.checkout {
  background-color: var(--fem-color-background-primary);
  padding: 2rem 1rem;
  &__content {
    display: grid;
  }
  &__section {
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
  }
  &__title {
    @include title2();
  }
  &__summary {
    column-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 2rem;
    row-gap: 2rem;
  }
  &__tumbnail {
    border-radius: 8px;
    width: 100%;
  }
  &__item {
    color: var(--fem-color-background-tertiary);
    font-weight: 700;
    margin: auto 0;
  }
  &__price {
    @include txt();
    display: block;
    font-weight: 700;
  }
  &__units {
    @include txt();
    margin: auto 0;
    text-align: right;
  }

  &__totals {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
    row-gap: 1rem;
    &__label {
      @include txt();
      text-transform: uppercase;
    }
    &__value {
      color: var(--fem-color-background-tertiary);
      font-size: 1.2em;
      font-weight: 700;
      letter-spacing: 1.2px;
      text-align: right;
    }
    &__label-grand {
      margin-top: 1rem;
    }
    &__value-grand {
      color: var(--fem-color-text-emphasis);
      margin-top: 1rem;
    }
  }
  &__cta {
    @include btn-primary();
    width: 100%;
  }
}

.fieldset {
  display: grid;
  &__subtitle {
    @include title4();
    @include title4--em();
  }
}
.form {
  &__group {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
    &--grid {
      gap: 16px;
    }
  }
  &__lb {
    color: var(--fem-color-text-secondary);
    font-weight: 700;
    margin-bottom: 0.3rem;
    &--invalid {
      color: var(--fem-color-text-error);
    }
    &--radio {
      cursor: pointer;
      padding-left: 16px;
      display: inline-block;
      width: 100%;
      margin: 0;
    }
  }
  &__error-msg {
    position: absolute;
    right: 0;
    color: var(--fem-color-text-error);
    display: none;
  }
  &__input--invalid ~ &__error-msg {
    display: inline;
  }
  &__input {
    @include txt();
    border-radius: 8px;
    cursor: pointer;
    font-family: inherit;
    outline: none;
    padding: 1rem;
  }
  &__input:focus {
    border: 2px solid var(--fem-color-text-emphasis);
    color: var(--fem-color-text-secondary);
    font-weight: 700;
  }
  &__input--invalid {
    border: 2px solid var(--fem-color-text-error);
  }
  &__radio {
    border-radius: 8px;
    border: 1px var(--fem-color-text-primary) solid;
    display: flex;
    cursor: pointer;
    padding: 20px;
  }
  &__radio-button {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
  }
  &__radio-button:checked {
    border: 6px solid var(--fem-color-text-emphasis);
  }
  &__note {
    display: flex;
    grid-column: 1 / span 2;
    margin-bottom: 1rem;
  }
  &__icon {
    padding-right: 32px;
  }
}

@media only screen and (min-width: $md-device) {
  .checkout {
    padding: 2rem 40px;
    &__section {
      padding: 30px 27px;
    }
  }
  .fieldset {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    &__subtitle {
      grid-column: 1 / span 2;
    }
  }
  .form {
    &__group {
      &--wide {
        grid-column: 1 / span 2;
      }
      &--grid {
        grid-template-columns: 1fr 1fr;
      }
    }
    &__radio {
      grid-column-start: 2;
    }
  }
}
@media only screen and (min-width: $lg-device) {
  .checkout {
    &__content {
      align-items: start;
      column-gap: 30px;
      grid-template-columns: 65% auto;
      margin-bottom: 141px;
    }
  }
}
</style>
