<script setup lang="ts">
import CategoriesNav from '../components/CategoriesNav.vue'
import AboutUs from '../components/AboutUs.vue'
</script>

<template>
  <div class="hero">
    <div class="hero__top">
      <picture class="hero__picture">
        <source
          srcset="/assets/home/desktop/image-hero.jpg"
          media="(min-width: 1440px)"
        />
        <source
          srcset="/assets/home/tablet/image-header.jpg"
          media="(min-width: 768px)"
        />
        <img
          class="hero__image"
          src="/assets/home/mobile/image-header.jpg"
          alt="XX99 Mark 2 Headphones Image"
        />
      </picture>
    </div>
    <div class="hero__content">
      <div class="hero__eyebrown">New product</div>
      <h1 class="hero__title">XX99 Mark II Headphones</h1>
      <div class="hero__text">
        Experience natural, lifelike audio and exceptional build quality made
        for the passionate music enthusiast.
      </div>
      <div class="hero__cta">
        <router-link class="hero__link" :to="{ name: 'product', params: { id: 'xx99-mark-two-headphones' } }"
          >See product</router-link>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <CategoriesNav></CategoriesNav>
    <article class="preview1">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="/assets/home/desktop/image-speaker-zx9.png" />
        <source
          media="(min-width: 768px)"
          srcset="/assets/home/tablet/image-speaker-zx9.png" />
        <img
          src="/assets/home/mobile/image-speaker-zx9.png"
          alt="ZX9 Speaker"
          class="preview1__img"
      /></picture>
      <div class="preview1__body">
        <h2 class="preview1__title">ZX9 Speaker</h2>
        <p class="preview1__text">
          Upgrade to premium speakers that are phenomenally built to deliver
          truly remarkable sound.
        </p>
        <router-link class="preview1__link" :to="{ name: 'product', params: { id: 'zx9-speaker' } }"
          >See product</router-link
        >
      </div>
    </article>
    <article class="preview2">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="/assets/home/desktop/image-speaker-zx7.jpg" />
        <source
          media="(min-width: 768px)"
          srcset="/assets/home/tablet/image-speaker-zx7.jpg" />
        <img
          src="/assets/home/mobile/image-speaker-zx7.jpg"
          alt="Product"
          class="preview2__img"
      /></picture>
      <h2 class="preview2__title">ZX7 speaker</h2>
      <router-link class="preview2__link" :to="{ name: 'product', params: { id: 'zx7-speaker' } }"
        >See product</router-link
      >
    </article>
    <article class="preview3">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="/assets/home/desktop/image-earphones-yx1.jpg" />
        <source
          media="(min-width: 768px)"
          srcset="/assets/home/tablet/image-earphones-yx1.jpg" />

        <img
          src="/assets/home/mobile/image-earphones-yx1.jpg"
          alt="Product"
          class="preview3__img"
      /></picture>
      <div class="preview3__body">
        <h2 class="preview3__title">YX1 earphones</h2>
        <router-link class="preview3__link" :to="{ name: 'product', params: { id: 'yx1-earphones' } }"
          >See product</router-link
        >
      </div>
    </article>
    <AboutUs></AboutUs>
  </div>
</template>

<style scoped lang="scss">
.hero {
  text-align: center;
  color: white;
  display: grid;
  > * {
    grid-area: 1/-1;
  }
  &__image {
    display: block;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
    transform: translateY(-50px);
  }
  &__content {
    padding: 0 2.4rem;
    align-self: center;
    @media screen and (min-width: 768px) {
      padding: 0;
      margin: auto;
      max-width: 49.34%;
    }

    @media screen and (min-width: 1440px) {
      margin-left: 11.46%;
      text-align: start;
      width: 26.32%;
    }
  }

  &__eyebrown {
    color: var(--fem-color-text-primary-inverse);
    text-transform: uppercase;
    letter-spacing: 10px;
  }
  &__title {
    @include title1();
    @include title1--inv();
    margin-top: 1rem;
  }

  &__text {
    margin-top: 1.5rem;
  }
  &__cta {
    margin-top: 1.5rem;
  }
  &__link {
    @include btn-primary();
    display: inline-block;
    padding: 1rem 2rem;
  }
  &__link:visited {
    color: inherit;
  }
}
.wrapper {
  padding: 0 2rem;
}

.preview1 {
  background-color: var(--fem-color-text-emphasis);
  background-image: url(/assets/home/desktop/pattern-circles.svg);
  color: white;
  text-align: center;
  margin-top: 2rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  &__img {
    width: 60%;
  }
  &__title {
    font-size: 1.8rem;
    text-transform: uppercase;
  }
  &__text {
    margin-bottom: 2rem;
  }
  &__link {
    @include btn-tertiary()
  }
}
.preview2 {
  align-content: center;
  color: var(--fem-color-text-secondary);
  display: grid;
  font-weight: 700;
  height: 305px;
  justify-content: start;
  margin-top: 2rem;
  overflow-y: hidden;
  padding: 0 1rem 0 9.5%;
  position: relative;
  &__img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__title {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 3rem 0 2rem 0;
  }
  &__link {
    @include btn-secondary()
  }
}
.preview3 {
  display: grid;
  gap: 1rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
  &__img {
    width: 100%;
    border-radius: 8px;
  }
  &__body {
    align-content: center;
    background-color: var(--fem-color-background-secondary);
    border-radius: 8px;
    color: var(--fem-color-text-secondary);
    display: grid;
    font-weight: 700;
    justify-content: start;
    padding: 2rem;
  }
  &__title {
    text-transform: uppercase;
    font-size: 1.8rem;
  }
  &__link {
    @include btn-secondary()
  }
}
@media only screen and (min-width: $md-device) {
  .hero {
    &__title {
      font-size: 3.4rem;
    }
    &__text {
      width: 97%;
    }
  }
  .preview2 {
    height: 325px;
  }
  .preview3 {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: $lg-device) {
  .preview1 {
    flex-direction: row;
    padding-right: 95px;
    &__body {
      text-align: left;
      align-self: center;
    }
    &__title {
      font-size: 3.7rem;
    }
  }
  .preview2 {
    height: 320px;
  }
  .preview3 {
    &__body {
      padding-left: 95px;
    }
    &__img {
      height: 100%;
    }
  }
  .wrapper {
    padding: 0 165px;
  }
}
</style>
