<script setup lang="ts">
import { ref, onMounted, watch } from 'vue'
import { useProductServices } from '../services/product-services'
import CategoriesNav from '../components/CategoriesNav.vue'
import SimilarProduct from '../components/SimilarProduct.vue'
import AboutUs from '../components/AboutUs.vue'
import Cart from '../components/CartModal.vue'
import { Product } from '../model/product'
import { currency } from '../services/filters'
import { useCartStore } from '../stores/CartStore'
import { useImageUtils } from '../services/image-utils'
import { useRouter } from 'vue-router'

const props = defineProps({
  id: { type: String, required: false, default: 'xx99-mark-two-headphones' }
})
const cart = useCartStore()
const imageUtils = useImageUtils()
const router = useRouter()
const productServices = useProductServices()
const isModalOpen = ref(false)

const product = ref < Product > (new Product())
const unitsToAdd = ref(1)
const fetchProduct = () => {
  product.value = productServices.fetchProductById(props.id)
  product.value = imageUtils.getProductImagesFullPath(product.value)
}
onMounted(() => fetchProduct())
watch(() => props.id, fetchProduct)

const showCart = () => {
  cart.add({
    name: product.value.name,
    image: product.value.image.mobile,
    price: product.value.price,
    qty: unitsToAdd.value
  })
  isModalOpen.value = true
  cart.show()
}

const hideCart = () => {
  cart.hide()
  isModalOpen.value = false
}

const inc = () => {
  unitsToAdd.value = unitsToAdd.value + 1
}
const dec = () => {
  unitsToAdd.value = Math.max(0, unitsToAdd.value - 1)
}
</script>

<template>
  <Cart :isModalOpen="isModalOpen" @close="hideCart" />
  <section class="container">
    <router-link to="" class="back" @click="router.go(-1)">Go back</router-link>
    <article class="pdp">
      <picture>
        <source media="(min-width: 1440px)" :srcset="product.image.desktop" />
        <source media="(min-width: 768px)" :srcset="product.image.tablet" />
        <img :src="product.image.mobile" alt="category" class="pdp__image"
      /></picture>
      <div class="pdp__body">
        <div class="pdp__eyebrow" v-if="product.new">New product</div>
        <h1 class="pdp__title">{{ product.name }}</h1>
        <p class="pdp__text">
          {{ product.description }}
        </p>
        <p class="pdp__price">{{ currency(product.price) }}</p>
        <div class="pdp__controls">
          <div class="spinner">
            <button
              type="button"
              class="spinner__btn spinner__btn--minus"
              @click.prevent="dec"
            >
              -
            </button>
            <input
              type="number"
              name="txtUnits"
              id="txtUnits"
              class="spinner__input"
              v-model="unitsToAdd"
              min="0"
            />
            <button
              type="button"
              class="spinner__btn spinner__btn--plus"
              @click.prevent="inc"
            >
              +
            </button>
          </div>
          <button
            type="button"
            class="pdp__cta"
            @click.prevent="showCart"
            :disabled="unitsToAdd === 0"
          >
            Add to cart
          </button>
        </div>
      </div>
    </article>
    <article class="features">
      <h2 class="features__title">Features</h2>
      <p class="features__text">{{ product.features }}</p>
    </article>
    <article class="inthebox">
      <h2 class="inthebox__title">In the box</h2>
      <div class="inthebox__grid">
        <template v-for="included in product.includes" :key="included.item">
          <div class="inthebox__units">{{ included.quantity + "x" }}</div>
          <div class="inthebox__item">{{ included.item }}</div>
        </template>
      </div>
    </article>
    <article class="gallery">
      <picture
        v-for="galleryImage in [
          product.gallery.first,
          product.gallery.second,
          product.gallery.third,
        ]"
        :key="galleryImage.mobile"
      >
        <source media="(min-width: 1440px)" :srcset="galleryImage.tablet" />
        <source media="(min-width: 768px)" :srcset="galleryImage.desktop" />
        <img :src="galleryImage.mobile" alt="Product" class="gallery__image" />
      </picture>
    </article>
    <article class="recommendations">
      <h2 class="recommendations__title">You may also like</h2>
      <section class="recommendations__products">
        <template
          v-for="relatedProduct in product.others"
          :key="relatedProduct.slug"
        >
          <SimilarProduct :product="relatedProduct"></SimilarProduct>
        </template>
      </section>
    </article>
    <CategoriesNav></CategoriesNav>
    <AboutUs></AboutUs>
  </section>
</template>

<style scoped lang="scss">
.container {
  display: grid;
  margin-bottom: 88px;
  padding: 0 2rem;
}
.gallery {
  margin-top: 3rem;
  display: grid;
  gap: 1rem;
  &__image {
    width: 100%;
  }
}
.pdp {
  display: grid;
  margin-bottom: 88px;
  &__image {
    width: 100%;
  }
  &__eyebrow {
    color: var(--fem-color-text-emphasis);
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 10px;
  }
  &__text {
    @include txt();
    margin-top: 2rem;
  }
  &__title {
    @include title2();
  }
  &__price {
    font-weight: 700;
    letter-spacing: 1.2px;
  }
  &__controls {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 1fr;
    gap: 16px;
  }
  &__cta {
    @include btn-primary();
  }
  &__cta:disabled {
    @include btn-disabled();
  }
}

.features {
  margin-bottom: 88px;
  &__title {
    @include title3();
    margin-top: 0;
  }
  &__text {
    @include txt();
    white-space: pre-line;
  }
}

.inthebox {
  display: grid;
  &__title {
    @include title3();
    margin-top: 0;
  }
  &__grid {
    align-content: start;
    display: grid;
    grid-template-columns: 10% 80%;
    row-gap: 1rem;
  }
  &__units {
    color: var(--fem-color-text-emphasis);
  }
  &__item {
    @include txt();
  }
}

.recommendations {
  &__title {
    @include title3();
  }
  &__products {
    display: grid;
  }
}
@media only screen and (min-width: $md-device) {
  .container {
    margin-bottom: 120px;
    padding: 0 40px;
  }
  .pdp {
    margin-bottom: 120px;
    grid-template-columns: 42% auto;
    gap: 69px;
    &__body {
      align-self: center;
      text-align: left;
    }
  }
  .features {
    margin-bottom: 120px;
  }
  .inthebox {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 120px;
  }
  .gallery {
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 120px;
    > *:nth-child(2) {
      grid-area: 2/1/2/1;
    }
    > *:nth-child(3) {
      grid-area: 1/2 / span 2/2;
    }
    &__image {
      height: 100%;
      object-fit: none;
    }
  }
  .recommendations {
    &__products {
      gap: 11px;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media only screen and (min-width: $lg-device) {
  .container {
    column-gap: 120px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 160px;
    padding: 0 165px;
    > * {
      grid-column: 1 / span 2;
    }
  }
  .pdp {
    margin-bottom: 160px;
  }
  .features,
  .inthebox {
    grid-column: auto;
  }
}
</style>
