<script setup lang="ts"></script>

<template>
  <article class="about-us">
    <picture>
      <source
        srcset="/assets/shared/desktop/image-best-gear.jpg"
        media="(min-width: 1440px)"
      />
      <source
        srcset="/assets/shared/tablet/image-best-gear.jpg"
        media="(min-width: 768px)"
      />
      <img
        src="/assets/shared/mobile/image-best-gear.jpg"
        alt="Earphones"
        class="about-us__image"
      />
    </picture>
    <div class="about-us__body">
      <h2 class="about-us__title">
        Bringing you the <span class="about-us__title--em">best</span> audio gear
      </h2>
      <p class="about-us__text">
        Located at the heart of New York City, Audiophile is the premier store
        for high end headphones, earphones, speakers, and audio accessories. We
        have a large showroom and luxury demonstration rooms available for you
        to browse and experience a wide range of our products. Stop by our store
        to meet some of the fantastic people who make Audiophile the best place
        to buy your portable audio equipment.
      </p>
    </div>
  </article>
</template>

<style scoped lang="scss">
.about-us {
  margin-bottom: 120px;
  text-align: center;
  &__image {
    border-radius: 8px;
    width: 100%;
  }
  &__title {
    @include title2();
    &--em {
      color: var(--fem-color-text-emphasis);
    }
  }
  &__text {
    @include txt();
  }
}

@media only screen and (min-width: $md-device) {
  .about-us {
    margin-bottom: 96px;
  }
}
@media only screen and (min-width: $lg-device) {
  .about-us {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 120px;
    text-align: left;
    > * {
      flex: 50%;
    }
    &__body {
      padding-right: 125px;
      align-self: center;
    }
  }
}
</style>
