<script setup lang="ts">
// https://www.digitalocean.com/community/tutorials/vuejs-vue-modal-component
import { ref, computed, watch } from 'vue'
import { useCartStore } from '../stores/CartStore'
import { currency } from '../services/filters'
import { StoreItem } from '../model/product';
import { getItemsPrice } from '../services/pricing';
import { useRouter } from "vue-router";

const emit = defineEmits(['close'])
const props = defineProps({
  isModalOpen: Boolean
})
const router = useRouter();
const handleClose = () => {
  emit('close')
}
const cart = useCartStore()
const itemsCount = ref(0)
const items = ref<StoreItem[]>([])
const loadItems = () => {
  if (props.isModalOpen) {
    itemsCount.value = cart.getItemCount
    items.value = cart.getItems
  }
}

watch(() => props.isModalOpen, loadItems)

const reset = () => {
  cart.clear()
  loadItems()
}
const submit = () => {
  router.push({ name: 'checkout' })
  handleClose()
}
const totalPrice = computed(() => {
  return getItemsPrice(items.value)
})
const inc = (item:StoreItem) => { item.qty = item.qty + 1 }
const dec = (item:StoreItem) => { item.qty = Math.max(1, item.qty - 1) }
</script>

<template>
  <transition name="modal__fade">
    <div class="modal__backdrop" v-if="isModalOpen" @click="handleClose">
      <div
        class="modal cart"
        role="dialog"
        aria-labelledby="Cart"
        aria-describedby="Cart"
        @click.stop=""
        @keyup.esc="handleClose"
      >
        <header class="modal__header cart__header" id="modalHeader">
          <h2 class="cart__title">Cart ({{ itemsCount }})</h2>
          <button
            type="reset"
            role="button"
            @click.prevent="reset"
            class="cart__reset"
          >
            Remove all
          </button>
        </header>

        <section class="modal__body" id="modalDescription">
          <div v-if="itemsCount === 0">Your cart is empty :O</div>
          <div class="cart__summary">
            <template v-for="item in items" :key="item.name">
              <img
                :src=item.image
                :alt=item.name
                class="cart__tumbnail"
              />
              <div class="cart__item">
                {{ item.name }} <span class="cart__price">{{ currency(item.price) }}</span>
              </div>
              <div class="spinner">
                <button type="button" class="spinner__btn spinner__btn--minus" @click.prevent="dec(item)">-</button>
                <input type="number" name="txtUnits" class="spinner__input" v-model="item.qty" min="1" />
                <button type="button" class="spinner__btn spinner__btn--plus" @click.prevent="inc(item)" >+</button>
              </div>
            </template>            
          </div>
          <div class="cart__totals">
            <div class="cart__totals__label">TOTAL</div>
            <div class="cart__totals__value">{{ currency(totalPrice) }}</div>
          </div>
          <div class="cart__controls">
            <button @click.prevent="submit" type="submit" class="cart__submit" :disabled="itemsCount === 0">Checkout</button>
          </div>
        </section>
      </div>
    </div>
  </transition>
</template>

<style scoped lang="scss">

.cart {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin: 0;
    text-transform: uppercase;
  }
  &__summary {
    column-gap: 1rem;
    display: grid;
    grid-template-columns: 64px auto 96px;
    margin-bottom: 2rem;
    row-gap: 2rem;
  }
  &__tumbnail {
    border-radius: 8px;
    width: 100%;
  }
  &__item {
    margin: auto 0;
  }
  &__price {
    @include txt();
    display: block;
  }
  &__reset {
    @include txt();
    background: none;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    text-decoration: underline;
    &:hover {
      color: var(--fem-color-text-emphasis);
    }
  }
  &__submit {
    @include btn-primary();
    width: 100%;
  }
  &__submit:disabled {
    @include btn-disabled();
  }
  &__totals {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    &__label {
      @include txt();
      text-transform: uppercase;
    }
    &__value {
      letter-spacing: 1.2px;
    }
  }
}
</style>
