<script setup lang="ts">
import { useImageUtils } from '../services/image-utils'
const props = defineProps({
  category: { type: String, required: true, default: 'headphones' }
})
const imageUtils = useImageUtils()
const categoryImg = imageUtils.getImageAbsPath(`/assets/shared/desktop/image-category-thumbnail-${props.category}.png`)
</script>

<template>
  <article class="category-link">
    <picture>
      <img
        :src="categoryImg"
        alt="Category"
        class="category-link__image"
    /></picture>
    <div class="category-link__article">{{ category }}</div>
    <router-link :to="{ name: 'category', params: {id: category}}" class="category-link__link"
      >Shop <span class="category-link__icon">&gt;</span></router-link
    >
  </article>
</template>

<style scoped lang="scss">
.category-link {
  text-align: center;
  text-transform: uppercase;
  background-color: var(--fem-color-background-secondary);
  padding-bottom: 1rem;
  margin-top: 50px;
  &__image {
    width: 50%;
    margin-top: -50px;
  }
  &__article {
    font-weight: 700;
    line-height: 1.3rem;
    text-align: center;
    letter-spacing: 0.07rem;
    margin-bottom: 1rem;
  }
  &__link {
    @include link-secondary();
  }
  &__icon {
    color: var(--fem-color-text-emphasis);
    font-size: 1.5rem;
    margin-left: 0.5rem;
    vertical-align: sub;
  }
}

@media only screen and (min-width: $md-device) {
  .category-link {
    margin-top: 60px;
    &__image {
      width: 100%;
      margin-top: -60px;
    }
  }
}
</style>
