<script setup lang="ts">
import CategoryLink from './CategoryLink.vue'
</script>

<template>
  <div class="categories">
    <CategoryLink category="headphones"></CategoryLink>
    <CategoryLink category="speakers"></CategoryLink>
    <CategoryLink category="earphones"></CategoryLink>
  </div>
</template>

<style scoped lang="scss">
.categories {
  margin-top: 2rem;
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
  row-gap: 1rem;
}

@media only screen and (min-width: $md-device) {
  .categories {
    grid-template: 1fr / repeat(3, 1fr);
    column-gap: 1rem;
    margin: 120px 0;
  }
}
</style>
