<script setup lang="ts">
import { ref, watch } from 'vue'
import { useCartStore } from '../stores/CartStore'
import { currency } from '../services/filters'
import { StoreItem } from '../model/product'
import { getGrandPriceByItems } from '../services/pricing'
import { useRouter } from 'vue-router'
import { useImageUtils } from '../services/image-utils'

const emit = defineEmits(['close'])
const props = defineProps({
  isModalOpen: Boolean
})
const imageUtils = useImageUtils()

const cart = useCartStore()
const itemCount = ref(0)
const item1 = ref < StoreItem > ({ name: '', image: '', price: 0, qty: 0 })
const totalPrice = ref(0)

const loadItems = () => {
  if (props.isModalOpen) {
    itemCount.value = cart.getItemCount - 1
    const items = cart.getItems
    totalPrice.value = getGrandPriceByItems(items)
    item1.value = items[0]
    item1.value.image = imageUtils.getImageAbsPath(item1.value.image)
  }
}
watch(() => props.isModalOpen, loadItems)

const handleClose = () => {
  emit('close')
}
const router = useRouter()
const submit = () => {
  cart.clear()
  router.push({ name: 'home' })
}

</script>

<template>
  <transition name="modal__fade">
    <div class="modal__backdrop" v-if="isModalOpen">
      <div
        class="modal ack"
        role="dialog"
        aria-labelledby="Order confirmation"
        aria-describedby="Order confirmation"
        @keyup.esc="handleClose"
      >
        <header class="modal__header ack__header" id="modalHeader">
          <img src="/assets/checkout/icon-order-confirmation.svg" alt="Check" />
          <h2 class="ack__title">Thank you for your order</h2>
        </header>

        <section class="modal__body" id="modalDescription">
          <p class="ack__message">
            You will receive an email confirmation shortly.
          </p>
          <div class="ack__content">
            <section class="ack__summary">
              <div class="ack__items">
                <img
                  :src="item1.image"
                  :alt="item1.name"
                  class="ack__tumbnail"
                />
                <div class="ack__item">
                  {{ item1.name }} <span class="checkout__price">{{ currency(item1.price) }}</span>
                </div>
                <div class="ack__units">x {{ item1.qty }}</div>
              </div>
              <p class="ack__other-items" v-if="itemCount">and {{ itemCount }} other item(s)</p>
            </section>
            <div class="ack__totals">
              <div class="ack__totals__label">Grand total</div>
              <div class="ack__totals__value">{{ currency(totalPrice) }}</div>
            </div>
          </div>
          <div class="ack__controls">
            <button @click.prevent="submit" class="ack__submit">Back to home</button>
          </div>
        </section>
      </div>
    </div>
  </transition>
</template>

<style scoped lang="scss">

.modal__header {
  padding: 0;
  position: relative;
}

.modal__body {
  padding: 0;
}

.ack {
  padding: 32px;
  &__title {
    margin-top: 0.5rem;
    margin-bottom: 24px;
    text-transform: uppercase;
  }
  &__message {
    margin-top: 0;
    margin-bottom: 33px;
  }
  &__content {
    display: grid;
    margin-bottom: 2rem;
  }
  &__summary {
    background-color: var(--fem-color-background-secondary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1rem 2rem;
  }
  &__items {
    border-bottom: 1px solid #8d8d8d; //font-color
    column-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 2rem;
    padding-bottom: 1rem;
  }
  &__other-items {
    text-align: center;
  }
  &__tumbnail {
    border-radius: 8px;
    width: 100%;
  }
  &__item {
    margin: auto 0;
  }
  &__price {
    @include txt();
    display: block;
  }
  &__units {
    @include txt();
    margin: auto 0;
  }
  &__controls {
    margin-bottom: 2rem;
  }
  &__submit {
      @include btn-primary();
      width: 100%;
  }
  &__totals {
    background-color: var(--fem-color-background-tertiary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 2rem;
    row-gap: 1rem;
    &__label {
      color: var(--fem-color-text-tertiary);
      text-transform: uppercase;
    }
    &__value {
      color: var(--fem-color-text-secondary-inverse);
      letter-spacing: 0.08rem;
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
  }
}

@media only screen and (min-width: $md-device) {
  .modal {
    width: 70%;
    max-width: unset;
    &__backdrop {
      align-items: center;
    }
  }
  .ack {
    padding: 40px;
    &__content {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 45px;
    }
    &__summary {
      border-radius: 8px 0 0 8px;
    }
    &__totals {
      border-radius: 0 8px 8px 0;
    }
  }
}
</style>
