<script setup lang="ts"></script>

<template>
  <div class="nav">
    <ul class="nav__list">
      <li class="nav__li link">
        <router-link :to="{ name: 'home'}" class="nav__link link__primary">Home</router-link>
      </li>
      <li class="nav__li">
        <router-link :to="{ name: 'category', params: {id: 'headphones'}}" class="nav__link link__primary"
          >Headphones</router-link
        >
      </li>
      <li class="nav__li">
        <router-link :to="{ name: 'category', params: {id: 'speakers'}}" class="nav__link link__primary"
          >Speakers</router-link
        >
      </li>
      <li class="nav__li">
        <router-link :to="{ name: 'category', params: {id: 'earphones'}}" class="nav__link link__primary"
          >Earphones</router-link
        >
      </li>
    </ul>
  </div>
</template>

<style scoped lang="scss">
.nav {
  text-transform: uppercase;
  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }
  &__li:last-child {
    padding-right: 0px;
  }
  &__link {
    display: block;
    margin: 0;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    &:hover {
      color: var(--fem-color-text-emphasis);
    }
  }
}

@media only screen and (min-width: $md-device) {
  .nav {
    &__list {
      flex-direction: row;
    }
  }
}
</style>
