<script setup lang="ts">
import FooterNavBar from './FooterNavBar.vue'
</script>

<template>
  <footer class="footer">
    <img
      src="/assets/shared/desktop/logo.svg"
      alt="Audiophile"
      class="footer__brand"
    />
    <FooterNavBar></FooterNavBar>
    <p class="who">
      Audiophile is an all in one stop to fulfill your audio needs. We're a
      small team of music lovers and sound specialists who are devoted to
      helping you get the most out of personal audio. Come and visit our demo
      facility - we’re open 7 days a week.
    </p>
    <p class="copyright">Copyright 2023. All Rights Reserved</p>
    <div class="social">
      <a href="#" class="social__icon social__icon--facebook"></a>
      <a href="#" class="social__icon social__icon--twitter"></a>
      <a href="#" class="social__icon social__icon--instagram"></a>
    </div>
  </footer>
</template>

<style scoped lang="scss">
.footer {
  background-color: var(--fem-color-background-tertiary);
  color: var(--fem-color-text-button-primary-active);
  display: grid;
  gap: 48px;
  justify-items: center;
  padding: 38px 6.4% 38px;
  text-align: center;
  &__brand {
    cursor: pointer;
  }
}
.who,
.copyright {
  margin: 0;
}
.social {
  &__icon {
    @include svg-icon();
    &--facebook {
      -webkit-mask-image: url(/assets/shared/desktop/icon-facebook.svg);
      mask-image: url(/assets/shared/desktop/icon-facebook.svg);
    }
    &--twitter {
      -webkit-mask-image: url(/assets/shared/desktop/icon-twitter.svg);
      mask-image: url(/assets/shared/desktop/icon-twitter.svg);
    }
    &--instagram {
      -webkit-mask-image: url(/assets/shared/desktop/icon-instagram.svg);
      mask-image: url(/assets/shared/desktop/icon-instagram.svg);
    }
  }
  &__icon:last-child {
    margin-right: 0;
  }
}

@media only screen and (min-width: $md-device) {
  .footer {
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    padding: 46px 5.2% 46px;
    text-align: left;
    &__brand {
      grid-column: 1/span 2;
    }
  }
  .who {
    grid-column: 1/span 2;
  }
  .social {
    justify-self: end;
  }
}
@media only screen and (min-width: $lg-device) {
  .footer {
    padding: 48px 11.46% 48px;
    &__header {
      flex-direction: row;
    }
    &__brand {
      grid-column: 1;
    }
    > *:nth-child(2) {
      justify-self: end;
    }
  }
  .who {
    grid-column: 1;
  }
  .social {
    grid-column: 2;
    grid-row: 2;
    align-self: end;
  }
}
</style>
