<script setup lang="ts">
import NavBar from './NavBar.vue'
import Cart from '../components/CartModal.vue'
import { useCartStore } from '../stores/CartStore'
import { ref } from 'vue'

const cart = useCartStore()
const isModalOpen = ref(cart.visible)

const showCart = () => {
  isModalOpen.value = true
  cart.show()
}

const hideCart = () => {
  cart.hide()
  isModalOpen.value = false
}
</script>

<template>
  <Cart :isModalOpen="isModalOpen" @close="hideCart" />
  <header class="header">
    <div class="header__nav"><NavBar></NavBar></div>
    <router-link :to="{ name: 'home'}" class="header__logo">
      <img
        src="/assets/shared/desktop/logo.svg"
        class="header__icon"
        alt="Home"
      />
    </router-link>
    <picture class="shop-icon header__cart">
      <a href="#" @click.prevent="showCart">Cart</a>
    </picture>
  </header>
</template>

<style scoped lang="scss">
.header {
  align-items: center;
  background-color: var(--fem-color-background-tertiary);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 1em 24px;
  &__nav {
    justify-self: start;
  }
  &__logo {
    justify-self: center;
  }
  &__icon {
    vertical-align: bottom;
  }
  &__cart {
    @include svg-icon();
    justify-self: end;
    -webkit-mask-image: url(/assets/shared/desktop/icon-cart.svg);
    mask-image: url(/assets/shared/desktop/icon-cart.svg);
  }
}

@media only screen and (min-width: $md-device) {
  .header {
    padding: 1em 40px;
  }
}

@media only screen and (min-width: $lg-device) {
  .header {
    grid-template-columns: 143px auto 143px;
    padding: 1em 165px;
    &__nav {
      justify-self: center;
      order: 1;
    }
    &__logo {
      justify-self: left;
      order: 0;
    }
    &__cart {
      justify-self: end;
      order: 2;
    }
  }
}
</style>
