<script setup lang="ts">
// https://alvarotrigo.com/blog/hamburger-menu-css-responsive/
// https://codepen.io/mayursuthar/full/gmGVJy
import CategoryLink from './CategoryLink.vue'
</script>

<template>
  <label for="toggleMenu" class="toggle-menu"
    ><ul class="toggle-menu__list">
      <li class="toggle-menu__li"></li>
      <li class="toggle-menu__li"></li>
      <li class="toggle-menu__li"></li></ul
  ></label>
  <input type="checkbox" id="toggleMenu" class="toggle-menu__input" />
  <div class="nav">
    <ul class="nav__list">
      <li class="nav__li nav__li--home">
        <router-link :to="{ name: 'home' }" class="nav__link">Home</router-link>
      </li>
      <li class="nav__li">
        <CategoryLink
          category="headphones"
          class="nav__img-link"
        ></CategoryLink>
        <router-link :to="{ name: 'category', params: { id: 'headphones' } }" class="nav__link">Headphones</router-link>
      </li>
      <li class="nav__li">
        <CategoryLink category="speakers" class="nav__img-link"></CategoryLink>
        <router-link :to="{ name: 'category', params: { id: 'speakers' } }" class="nav__link">Speakers</router-link>
      </li>
      <li class="nav__li">
        <CategoryLink category="earphones" class="nav__img-link"></CategoryLink>
        <router-link :to="{ name: 'category', params: { id: 'earphones' } }" class="nav__link">Earphones</router-link>
      </li>
    </ul>
  </div>
</template>

<style scoped lang="scss">
.nav {
  background-color: var(--fem-color-background-menu);
  border-bottom: 1px solid var(--fem-color-text-tertiary);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0 0 8px 8px;
  display: none;
  font-size: 0.9em;
  left: 0;
  padding: 0px;
  position: absolute;
  text-transform: uppercase;
  top: calc(25px + 2em);
  &__list {
    display: grid;
    gap: 1rem;
    grid-template: repeat(3, 1fr) / 1fr;
    list-style-type: none;
    margin: 35px 24px;
    overflow: hidden;
    padding: 0;
  }
  &__li {
    display: table;
    float: none;
    width: 100%;
    &--home {
      display: none;
    }
  }
  &__li:last-child {
    padding-right: 0px;
  }
  &__link {
    display: none;
  }
}

.toggle-menu {
  cursor: pointer;
  display: block;
  float: right;
  margin: auto 0;

  &__list {
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 25px;
  }
  &__li {
    background-color: var(--fem-color-background-primary);
    height: 3px;
    margin-bottom: 4px;
    width: 100%;
  }
  &__li:last-child {
    margin-bottom: 0px;
  }
  &__input {
    display: none;
  }
  &__input {
    background: none;
    left: -9999px;
    position: absolute;
    top: -9999px;
  }
  &__input:focus {
    background: none;
  }
  &__input:checked ~ .nav {
    display: block;
  }
}

@media only screen and (min-width: $md-device) {
  .toggle-menu {
    padding: 8px 0px;
  }
  .nav {
    &__list {
      grid-template: 1fr / repeat(3, 1fr);
      margin: 56px 40px 67px 40px;
    }
  }
}
@media only screen and (min-width: $lg-device) {
  .toggle-menu {
    display: none;
  }

  .nav {
    background-color: inherit;
    border: 0;
    box-shadow: none;
    display: block;
    position: unset;
    right: unset;
    top: unset;
    &__list {
      margin: 0;
      display: table;
      width: auto;
    }
    &__li {
      display: block;
      float: left;
      padding: 0px;
      width: auto;
      &--home {
        display: block;
      }
    }
    &__link {
      @include nav-link();
      display: block;
      margin: 0 2px;
      text-decoration: none;
    }
    &__link:hover {
      color: var(--fem-color-text-emphasis);
    }
    &__img-link {
      display: none;
    }
  }
}
</style>
