<script setup lang="ts">
import { Product } from '../model/product'
import { useImageUtils } from '../services/image-utils'
const props = defineProps({
  product: { type: Product, required: true, default: new Product() }
})
const imageUtils = useImageUtils()
const img = imageUtils.getImageFullPath(props.product.categoryImage)
</script>

<template>
  <article class="product">
    <picture class="product__top">
      <source
        media="(min-width: 1440px)"
        :srcset="img.desktop" />
      <source
        media="(min-width: 768px)"
        :srcset="img.tablet" />
      <img
        :src="img.mobile"
        alt="Category"
        class="product__image"
    /></picture>
    <div class="product__body">
      <div class="product__eyebrow" v-if="product.new">New product</div>
      <h2 class="product__title">{{ product.name }}</h2>
      <p class="product__text">{{ product.description }}</p>
      <router-link :to="{ name: 'product', params: { id: product.slug } }" class="product__link"
        >See product</router-link
      >
    </div>
  </article>
</template>

<style scoped lang="scss">
.product {
  display: grid;
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 1rem;
  &__image {
    width: 100%;
    margin-bottom: 2rem;
  }
  &__eyebrow {
    color: var(--fem-color-text-emphasis);
    text-transform: uppercase;
  }
  &__title {
    @include title2();
  }
  &__text {
    @include txt();
    margin-bottom: 3rem;
  }
  &__link {
    @include btn-primary();
    padding: 1rem 2rem;
  }
}

@media only screen and (min-width: $lg-device) {
  .product {
    grid-template-columns: 1fr 1fr;
    &__body {
      align-self: center;
      margin-left: 125px;
      text-align: left;
    }
  }
}
</style>
