<script setup lang="ts">
import { RelatedProduct } from '../model/product'

defineProps({
  product: {
    type: RelatedProduct,
    required: true,
    default: new RelatedProduct()
  }
})
</script>

<template>
  <article class="product">
    <picture>
      <source media="(min-width: 1440px)" :srcset="product.image.desktop" />
      <source media="(min-width: 768px)" :srcset="product.image.tablet" />
      <img :src="product.image.mobile" alt="Category" class="product__image"
    /></picture>
    <div class="product__title">{{ product.name }}</div>
    <router-link :to="{ name: 'product', params: { id: product.slug } }" class="product__link"
      >See product</router-link
    >
  </article>
</template>

<style scoped lang="scss">
.product {
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 1rem;
  &__image {
    width: 100%;
    margin-bottom: 2rem;
  }
  &__title {
    @include title3();
    margin-bottom: 2rem;
  }
  &__link {
    @include btn-primary();
    display: block;
  }
}
</style>
