:root {
  --fem-color-background-primary: #fafafa;
  --fem-color-background-secondary: #f1f1f1;
  --fem-color-background-tertiary: #101010;
  --fem-color-background-menu: #fff;
  --fem-color-background-button-primary-rest: #d87d4a;
  --fem-color-background-button-primary-active: #fbaf85;
  --fem-color-background-button-primary-focus: #fbaf85;
  --fem-color-background-button-secondary-rest: #ffffff;
  --fem-color-background-button-secondary-active: #000000;
  --fem-color-background-button-secondary-focus: #000000;
  --fem-color-background-button-tertiary-rest: rgba(0, 0, 0, 0);
  --fem-color-background-button-tertiary-active: rgba(0, 0, 0, 0);
  --fem-color-background-button-tertiary-focus: rgba(0, 0, 0, 0);
  --fem-color-text-button-primary-rest: #ffffff;
  --fem-color-text-button-primary-active: #ffffff;
  --fem-color-text-button-primary-focus: #ffffff;
  --fem-color-text-button-secondary-rest: #000000;
  --fem-color-text-button-secondary-active: #ffffff;
  --fem-color-text-button-secondary-focus: #ffffff;
  --fem-color-text-button-tertiary-rest: rgba(0, 0, 0, 0.5);
  --fem-color-text-button-tertiary-active: #d87d4a;
  --fem-color-text-button-tertiary-focus: #d87d4a;
  --fem-color-text-link-primary-rest: #ffffff;
  --fem-color-text-link-primary-active: #d87d4a;
  --fem-color-text-link-primary-focus: #d87d4a;
  --fem-color-text-primary: rgba(0, 0, 0, 0.5);
  --fem-color-text-primary-inverse: rgba(255, 255, 255, 0.75);
  --fem-color-text-secondary: #000000;
  --fem-color-text-tertiary: rgba(255, 255, 255, 0.5);
  --fem-color-text-secondary-inverse: #ffffff;
  --fem-color-text-emphasis: #d87d4a;
  --fem-color-text-error: #cd2c2c;
}
