.spinner {
  align-self: center;
  background-color: var(--fem-color-background-primary);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  &__input {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    background-color: transparent;
    border: 0;
    font-family: inherit;
    height: 3rem;
    min-width: 0;
    text-align: center;
  }
  &__input::-webkit-inner-spin-button, &__units::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  &__btn {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    color: var(--fem-color-text-primary);
    cursor: pointer;
    margin: 0;
    position: relative;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    &:hover {
      color: var(--fem-color-text-emphasis);
    }
    &--minus {
      padding-left: 1.5rem;
    }
    &--plus {
      padding-right: 1.5rem;
    }
  }
}
