@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap");
@import "./tokens.scss";
@import "./colors.css";
@import "links.scss";
@import "forms.scss";
@import "modal.scss";

body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--fem-color-text-primary);
  display: flex;
  flex-direction: column;
  font-family: $fem-text-body-100-family;
  font-size: 15px;
  line-height: 1.6rem;
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
