.link {
    &__primary {
      padding: .4rem;
      text-transform: uppercase;
      color: var(--fem-color-text-link-primary-rest);
      box-shadow: inset 0 0 0 2px var(--fem-color-border-link-primary-rest);
  
      @extend %fem-text-link-primary;
      @extend %color-animation;
  
      &:focus {
        box-shadow: inset 0 0 0 2px var(--fem-color-border-link-primary-focus);
      }
  
      &:is(:hover, :focus) {
        color: var(--fem-color-text-link-primary-active);
      }
  
    }
  }
  
  .back {
    color: var(--fem-color-text-primary); //#rgba(0, 0, 0, 0.5);
    display: block;
    margin: 16px 0 24px 0;
    text-decoration: none;
    &:hover {
    color: var(--fem-color-text-emphasis);
    }
    
    @media only screen and (min-width: $md-device) {
        margin: 33px 0 24px 0;
    }
}