@import "./tokens.scss";

@mixin title1() {
  color: var(--fem-color-text-secondary);
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.17rem;
  line-height: 3.3rem;
  text-transform: uppercase;
}

@mixin title1--inv() {
  color: var(--fem-color-text-secondary-inverse);
}

@mixin title2() {
  color: var(--fem-color-text-secondary);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.13rem;
  line-height: 2.4rem;
  text-transform: uppercase;

  @media screen and (min-width: $md-device) {
    font-size: 2.65em;
  }
}

@mixin title2--inv() {
  background-color: var(--fem-color-text-secondary);
  color: var(--fem-color-text-secondary-inverse);
}

@mixin title3() {
  //Feature
  color: var(--fem-color-text-secondary);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2.1rem;
  text-transform: uppercase;
}

@mixin title4() {
  //Billing details
  color: var(--fem-color-text-secondary);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.06rem;
  line-height: 1.8rem;
  text-transform: uppercase;
}

@mixin title4--em() {
  //Billing details
  color: var(--fem-color-text-emphasis);
}


@mixin txt() {
  color: var(--fem-color-text-primary); //#rgba(0, 0, 0, 0.5);
}

@mixin btn-primary() {
  background-color: var(--fem-color-background-button-primary-rest);
  border: 0;
  color: var(--fem-color-text-button-primary-rest);
  cursor: pointer;
  font-family: 'Manrope', sans-serif;
  font-size: 0.86rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.06rem;
  line-height: 1.2rem;
  padding: 1rem 0rem;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    background-color: var(--fem-color-background-button-primary-active);
  }
}

@mixin btn-inv() {
  background-color: none;
  border: var(--fem-color-border-button-secondary-rest);
  color: var(--fem-color-text-button-secondary-rest);
  font-family: 'Manrope', sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin btn-link() {
  background-color: none;
  color: var(--fem-color-text-button-tertiary-rest); //#8d8d8d;
  cursor: pointer;
  display: block;
  font-family: 'Manrope', sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  padding: 1rem 2rem;
  text-decoration: none;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin btn-disabled() {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

@mixin link-secondary() {
  color: var(--fem-color-text-primary); //#rgba(0, 0, 0, 0.5);
  font-size: small;
  display: block;
  text-decoration: none;
  &:hover {
    color: var(--fem-color-text-emphasis);
  }
}

@mixin btn-secondary() {
  border: 1px solid black;
  display: inline-block;
  justify-self: start;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  &:is(:hover, :focus, :visited) {
    color: inherit;
  }
  &:hover {
    background-color: black;
    color: var(--fem-color-text-button-secondary-active);
  }  
}

@mixin btn-tertiary() {
  background-color: black;
  color: inherit;
  display: inline-block;
  font-weight: 700;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;    
  &:is(:hover, :focus, :visited) {
    color: inherit;
  }
  &:hover {
    background-color: #4C4C4C;
  } 
}

@mixin svg-icon() {
  background-color: var(--fem-color-background-primary);
  margin-right: 1rem;
  width: 26px;
  height: 26px;
  display: inline-block;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  &:hover {
    background-color: var(--fem-color-text-emphasis);
  }
}

@mixin lbl() {
  color: var(--fem-color-text-button-tertiary-rest); //#8d8d8d;
}

@mixin nav-link() {
  border-bottom: 2px solid transparent;
  color: var(--fem-color-text-link-primary-rest);
  display: inline-block;
  font-weight: bolder;
  letter-spacing: 4.75px;
  padding: 25px 16px;
}

%fem-text-link-primary {
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 0.06rem;
}

%color-animation {
  transition: box-shadow 0.2s cubic-bezier(0.15, 0, 0.15, 0),
    background-color 0.2s cubic-bezier(0.15, 0, 0.15, 0),
    color 0.2s cubic-bezier(0.15, 0, 0.15, 0);
}