.modal {
    background: #ffffff;
    box-shadow: 2px 2px 20px 1px;
    display: flex;
    flex-direction: column;
    max-width: 377px;
    overflow-x: auto;
    &__backdrop {
      align-items: center;
      background-color: rgba(0, 0, 0, 0.3);
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 0;
      padding: 24px;
      position: fixed;
      right: 0;
      top: 0;
    }
  }
  
  @media only screen and (min-width: $md-device) {
    .modal {
      width: 50%;
      &__backdrop {
        align-items: start;
        justify-content: end;
        padding: 40px;
      }
    }
  }
  
  @media only screen and (min-width: $lg-device) {
    .modal {
      &__backdrop {
        padding: 165px;
      }
    }
  }
  .modal__header {
    padding: 2rem 1rem 1rem 1rem;
    position: relative;
  }
  
  .modal__body {
    position: relative;
    padding: 31px;
  }
  
  .modal__fade-enter,
  .modal__fade-leave-to {
    opacity: 0;
  }
  
  .modal__fade-enter-active,
  .modal__fade-leave-active {
    transition: opacity 0.5s ease;
  }
  