<script setup lang="ts">
import Header from './components/MainHeader.vue'
import Footer from './components/MainFooter.vue'
</script>

<template>
  <Header></Header>
  <main class="main">
    <router-view />
  </main>
  <Footer></Footer>
</template>

<style scoped lang="scss"></style>
